
<!DOCTYPE html>
<html lang="en">
    <%-include('./components/main_app_head')%>

    <body class="nav-fixed">
        <%-include('./components/main_app_header')%>
        <div id="layoutSidenav">
           
            <div id="layoutSidenav_content">
                <main>
                    <!-- Main page content-->
                    <div class="container-xl px-4 mt-5">
                        <!-- Custom page header alternative example-->
                        <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
                            <div class="me-4 mb-3 mb-sm-0">
                                <h1 class="mb-0">Dashboard</h1>
                                <div class="small text-capitalize">
                                    <%const data = new Date()%>
                                    <%const day = data.getDay()%>

                                    <%const days = ["sunday","monday","tuesday","wednesday","thursday","friday","saturday"]%>
                                    <%const month = data.getMonth()%>
                                    <%const months = [
                                        'January', 'February', 'March', 'April', 'May', 'June', 
                                        'July', 'August', 'September', 'October', 'November', 'December'
                                    ]  %>
                                    <%const date = data.getDate()%>
                                    <%const year = data.getFullYear()%>
                                  
                                    
                                    <span class="fw-500 text-primary "><%=days[day]%></span>
                                    . <%=months[month]%> <%=date%>, <%=year%>
                                    <!-- <span class="fw-500 text-primary">Friday</span>
                                    · September 20, 2021 · 12:16 PM -->
                                </div>
                                <script>
                                    // new Date().getDate
                                </script>
                            </div>
                            <!-- Date range picker example-->
                            
                        </div>
                        <!-- Illustration dashboard card example-->
                        <div class="card card-waves mb-4 mt-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col">
                                        <h2 class="text-primary">Welcome back <%=User.name%>, your dashboard is ready!</h2>
                                        <p class="text-gray-700">Congratulations you are now a MaxBlog writer </p>
                                        <a class="btn btn-primary p-3" href="/user/dashboard/create-blog">
                                            Get Started
                                            <i class="ms-1" data-feather="arrow-right"></i>
                                        </a>
                                    </div>
                                    <div class="col d-none d-lg-block mt-xxl-n4"><img class="img-fluid px-xl-4 mt-xxl-n5" src="assets/img/illustrations/statistics.svg" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-md-6 mb-4">
                                <!-- Dashboard info widget 1-->
                                <div class="card border-start-lg border-start-primary h-100">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1">
                                                <div class="small fw-bold text-primary mb-1">Earnings (monthly)</div>
                                                <div class="h5">$0</div>
                                                <div class="text-xs fw-bold text-success d-inline-flex align-items-center">
                                                    <i class="me-1" data-feather="trending-up"></i>
                                                    0%
                                                </div>
                                            </div>
                                            <div class="ms-2"><i class="fas fa-dollar-sign fa-2x text-gray-200"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <!-- Dashboard info widget 2-->
                                <div class="card border-start-lg border-start-secondary h-100">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1">
                                                <div class="small fw-bold text-secondary mb-1">Average sale price</div>
                                                <div class="h5">$0</div>
                                                <div class="text-xs fw-bold text-danger d-inline-flex align-items-center">
                                                    <i class="me-1" data-feather="trending-down"></i>
                                                    0%
                                                </div>
                                            </div>
                                            <div class="ms-2"><i class="fas fa-tag fa-2x text-gray-200"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <!-- Dashboard info widget 3-->
                                <div class="card border-start-lg border-start-success h-100">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1">
                                                <div class="small fw-bold text-success mb-1">Clicks</div>
                                                <div class="h5">0</div>
                                                <div class="text-xs fw-bold text-success d-inline-flex align-items-center">
                                                    <i class="me-1" data-feather="trending-up"></i>
                                                    0%
                                                </div>
                                            </div>
                                            <div class="ms-2"><i class="fas fa-mouse-pointer fa-2x text-gray-200"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <!-- Dashboard info widget 4-->
                                <div class="card border-start-lg border-start-info h-100">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1">
                                                <div class="small fw-bold text-info mb-1">Conversion rate</div>
                                                <div class="h5">0%</div>
                                                <div class="text-xs fw-bold text-danger d-inline-flex align-items-center">
                                                    <i class="me-1" data-feather="trending-down"></i>
                                                   0%
                                                </div>
                                            </div>
                                            <div class="ms-2"><i class="fas fa-percentage fa-2x text-gray-200"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 mb-4">
                                <!-- Illustration card example-->
                                <div class="card mb-4">
                                    <div class="card-body text-center p-5">
                                        <img class="img-fluid mb-5" src="assets/img/illustrations/data-report.svg" />
                                        <h4>Report generation</h4>
                                        <p class="mb-4">Ready to get started? Let us know now! It's time to start building that dashboard you've been waiting to create!</p>
                                        <a class="btn btn-primary p-3" href="#!">Continue</a>
                                    </div>
                                </div>
                                <!-- Report summary card example-->
                                
                                <!-- Progress card example-->
                                
                            </div>
                            <div class="col-lg-8 mb-4">
                                <!-- Area chart example-->
                                <div class="card mb-4">
                                    <div class="card-header">Account Summary</div>
                                    <div class="card-body">
                                        <div class="chart-area"><canvas id="myAreaChart" width="100%" height="30"></canvas></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 mb-4">
                                        <!-- Bar chart example-->
                                        <div class="card h-100">
                                            <div class="card-header">Blog Report</div>
                                            <div class="card-body d-flex flex-column justify-content-center">
                                                <div class="chart-bar"><canvas id="myBarChart" width="100%" height="30"></canvas></div>
                                            </div>
                                            <div class="card-footer position-relative">
                                                <a class="stretched-link" href="#!">
                                                    <div class="text-xs d-flex align-items-center justify-content-between">
                                                        View More Reports
                                                        <i class="fas fa-long-arrow-alt-right"></i>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <!-- Pie chart example-->
                                        <div class="card h-100">
                                            <div class="card-header">Traffic Sources</div>
                                            <div class="card-body">
                                                <div class="chart-pie mb-4"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                                                <div class="list-group list-group-flush">
                                                    <div class="list-group-item d-flex align-items-center justify-content-between small px-0 py-2">
                                                        <div class="me-3">
                                                            <i class="fas fa-circle fa-sm me-1 text-blue"></i>
                                                            Direct
                                                        </div>
                                                        <div class="fw-500 text-dark">0%</div>
                                                    </div>
                                                    <div class="list-group-item d-flex align-items-center justify-content-between small px-0 py-2">
                                                        <div class="me-3">
                                                            <i class="fas fa-circle fa-sm me-1 text-purple"></i>
                                                            Social
                                                        </div>
                                                        <div class="fw-500 text-dark">0%</div>
                                                    </div>
                                                    <div class="list-group-item d-flex align-items-center justify-content-between small px-0 py-2">
                                                        <div class="me-3">
                                                            <i class="fas fa-circle fa-sm me-1 text-green"></i>
                                                            Referral
                                                        </div>
                                                        <div class="fw-500 text-dark">0%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js">
        </script>
        
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="assets/demo/chart-pie-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
        <script src="js/litepicker.js"></script>

        <!-- <script src="https://assets.startbootstrap.com/js/sb-customizer.js"></script>
        <sb-customizer project="sb-admin-pro"></sb-customizer> -->
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"86b80e62eaf352c2","version":"2024.3.0","token":"6e2c2575ac8f44ed824cef7899ba8463"}' crossorigin="anonymous"></script>
    <script data-search-pseudo-elements="" defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
</body>
</html>